/* Basic resets and body styling */
html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2;
}

/* Container styling */
.container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Headings */
h1 {
    font-size: 2.5em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8em;
    color: #555;
    margin-top: 30px;
    margin-bottom: 15px;
}

/* Paragraphs */
p {
    color: #666;
    line-height: 1.8;
}

/* Images */
img {
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
}

/* Sections */
section {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%; /* Ensuring full width */
    overflow-x: auto; /* Ensure horizontal scrolling for wide content */
}

#data-head {
    background-color: #337ab7;
    /* color: #fff; */
}

#summary-statistics {
    background-color: #e0e0e0;
}

#missing-values {
    background-color: #d0d0d0;
}

#histograms {
    margin-top: 30px;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background-color: #f2f2f2;
    color: #333;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Form styling */
form {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type=file] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 100%;
}

form button:hover {
    background-color: #45a049;
}
